body {
  background-color: grey !important;
  font-family: "Futura", sans-serif;
}

.contacth3 {
  text-align: center;
  color: #03629d;
  border: 1px solid gray;
}

/* Phone icon */
.gg-phone {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  transform: scale(var(--ggs, 1));
}

.gg-phone::after,
.gg-phone::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-phone::after {
  width: 18px;
  height: 18px;
  border-top-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 12px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  left: 2px;
  bottom: 2px;
  background: linear-gradient(to left, currentColor 10px, transparent 0)
      no-repeat right 11px/6px 4px,
    linear-gradient(to left, currentColor 10px, transparent 0) no-repeat -1px 0/4px
      6px;
}

.gg-phone::before {
  width: 20px;
  height: 20px;
  border: 6px double;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
  bottom: 2px;
  left: 2px;
}

.telnummer {
  display: inline-block;
}

.custom-header {
  background-color: #c0db8f;
  padding: 32px 0;
  position: relative;
}

.logo-container {
  position: absolute;
  top: -197px;
  width: 370px;
  height: 370px;
  border-radius: 70% / 55%;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.logo-img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
  padding-bottom: 10%;
}

.navbar {
  justify-content: flex-end;
  position: relative;
}

.nav-item {
  margin: 0px; /* Adjust this value for more space between links */
}

.nav-link {
  color: #01619d;
  font-weight: 800;
}

ul {
  margin-left: 45%;
}

.search-icon {
  fill: #01619d;
  position: absolute;
  top: 50%; /* Adjust this value to vertically center the icon */
  right: 10px; /* Adjust this value to control the horizontal position */
  transform: translateY(-50%); /* Vertically center the icon */
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  padding-top: 8%;
  background-color: #c0db8f;
  z-index: 1;
  transition: right 0.3s ease;
  color: #01619d;
}

.sidebar ul li a {
  color: #01619d;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 0;
}

/* Add styles for the "X" button to close the sidebar */
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.navbar-toggler {
  color: #01619d;
  border: none;
  position: relative;
}

/* Media query for tablet and mobile devices */
@media (max-width: 768px) {
  .custom-header {
    padding: 12px 0;
  }

  .logo-container {
    width: 220px;
    height: 220px;
    top: -120px;
    border-radius: 70%;
  }

  .logo-img {
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
  }

  .navbar-nav {
    display: none;
  }

  ul {
    margin-left: 0;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .sidebar-square {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #e9603a;
    margin-left: 8%;
    margin-right: 10px;
  }

  .sidebar-line {
    border-top: 2px solid #a2be70;
    margin-top: 12px;
    padding-bottom: 5%;
    width: 100%;
  }

  .content {
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }

  .sidebar-open .content {
    transform: translateX(
      -70%
    ); /* Move the content to the left when the sidebar is open */
  }

  /* Apply styles to the content when the sidebar is open */
  .sidebar-open .custom-header {
    transform: translateX(-70%);
  }

  .sidebar-open .logo-container {
    transform: translateX(-70%);
  }

  .sidebar-open .sidebar {
    right: 0;
  }

  button {
    margin-right: 7%;
  }

  .sidebar ul li a {
    text-decoration: none; /* Remove the underline */
  }
}
