body {
  background-color: #fafaf5 !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* nav */
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #5a9a96;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: 0.22s ease;
}

.custom-header {
  background-color: #c0db8f;
  padding: 32px 0;
  position: relative;
  z-index: 1;
}

.logo-container {
  position: absolute;
  top: -197px;
  width: 370px;
  height: 370px;
  border-radius: 70% / 55%;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.logo-image {
  z-index: 1;
}

.logo-img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
  padding-bottom: 10%;
}

.navbar {
  justify-content: flex-end;
  position: relative;
}

.nav-item {
  margin: 0px;
}

.nav-link {
  color: #01619d;
  font-weight: 800;
}

ul {
  margin-left: 45%;
}

.search-icon {
  fill: #01619d;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  padding-top: 8%;
  background-color: #c0db8f;
  z-index: 1;
  transition: right 0.3s ease;
  color: #01619d;
}

.sidebar ul li a {
  color: #01619d;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 0;
}

.navbar-toggler {
  color: #01619d;
  border: none;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #a2be70;
  margin-top: 4%;
  max-width: 100%;
  overflow: hidden;
}

.info {
  background-color: #c0db8f;
  color: #606060;
  padding-top: 3%;
  padding-bottom: 0.8%;
}

.info p {
  margin-left: 30%;
}

.navbar-footer {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 15%;
}

.navbar-footer a {
  font-size: 14px;
  text-decoration: none;
  margin: 5px 10px;
  color: #606060;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-left: 8%;
}

.boekhouden-logo {
  margin-top: 11%;
  margin-right: 2%;
}

/* Homepage */

.jumbotron-img-home {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.jumbotron-img-home img {
  width: 100%;
  margin-top: -24px;
}

.jumbotron-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  text-align: left;
}

.jumbotron-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
  color: white;
}

.jumbotron-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: white;
}

.jumbotron-content button {
  border-radius: 50px;
  width: 160px;
  height: 60px;
  background-color: #e9603a;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.jumbotron-content button:focus {
  outline: none;
}

.welkom {
  padding-top: 4%;
  text-align: center;
}

.custom-button {
  border-radius: 50px;
  width: 170px;
  height: 60px;
  background-color: #e9603a;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.custom-button1 {
  border-radius: 50px;
  width: 180px;
  height: 50px;
  background-color: #e9603a;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.custom-button2 {
  border-radius: 50px;
  width: 250px;
  height: 50px;
  background-color: #e9603a;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.custom-button3 {
  border-radius: 50px;
  width: 180px;
  height: 50px;
  background-color: #e9603a;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.custom-button1:focus,
.custom-button2:focus,
.custom-button3:focus {
  outline: none;
}

.homeh1-1 {
  color: #03629d;
  font-weight: bold;
}

.homeh1-2 {
  color: #03629d;
  font-weight: bold;
}

.hometekst1 {
  padding-top: 1%;
  color: #03629d;
  font-weight: 600;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

.hometekst2 {
  color: #03629d;
  font-weight: 600;
  font-size: 20px;
}

.buttons-homepage {
  padding-top: 2%;
  padding-bottom: 6%;
}

.container.references {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 40px; /* Add margin between squares */
}

.square img {
  width: 100%; /* Adjust this as needed */
  height: auto;
  display: block;
  margin: 0;
}

.square-footer {
  background-color: #3d67ad;
  padding: 50px;
  width: 100%; /* Adjust this as needed */
  position: absolute;
  bottom: 0;
  position: relative;
  text-align: center;
}

.square-footer h3 {
  position: absolute;
  bottom: 0;
  top: 18%;
  font-size: 18px;
  color: #fff;
  left: 0;
  right: 0;
}

.overons-homepage {
  padding-top: 5%;
  padding-bottom: 5%;
}

.overons-img {
  padding-left: 7%;
}

.overons-img.img {
  border-radius: 10px;
  max-width: 100%;
}

.overons-homepage-text {
  padding-right: 7%;
  padding-top: 3%;
}

/* 404 */

.rowpadding404 {
  padding-top: 75px;
}

.h1404 {
  text-align: center;
  color: #03629d;
  font-size: bold;
}

.p404 {
  text-align: none;
  color: #03629d;
  font-weight: 600;
  font-size: 20px;
}

.a404 {
  color: #a2be70;
}

/* universeel CSS */
.contactbackgroundimg {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100%;
  margin-top: -50px;
}

.contactbackgroundimg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    3,
    98,
    157,
    0.5
  ); /* RGB-waarden van lichtblauw met een transparantie van 0.5 */
  z-index: 0; /* Zet de z-index naar 0, zodat de transparante laag onder de tekst ligt */
}

.headertext {
  font-size: 75px;
  color: white;
  padding-top: 15%;
  padding-left: 15%;
  position: relative; /* Voeg position: relative toe aan de tekst om de z-index te beïnvloeden */
  z-index: 1; /* Zet de z-index naar 1, zodat de tekst boven de transparante laag ligt */
}

/* contact */

.contacth3 {
  text-align: center;
  color: #03629d;
  font-weight: bold;
}

.telnummer {
  display: inline-block;
}
.openingstijdentitel {
  font-weight: bold;
  color: #03629d;
  margin-top: 15%;
}

.openingstijdentekst {
  color: #03629d;
}

.emailphonecss {
  color: #03629d;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.phonemargin {
  margin-left: 200px;
}

.atbackground {
  margin-left: 35px;
  background-color: #e9603a;
  width: 45px;
  height: 45px;
  padding: 10px 10px;
  border-radius: 35px;
}

.atinfo {
  color: white;
}

.contacth2 {
  color: #03629d;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.contactformnaamfill,
.contactformtelefoonnummerfill {
  width: 80%;
  background-color: #a3d0eb;
  border-color: #a3d0eb;
  border-radius: 10px; /* Adjust the value to control the roundness of the corners */
  outline: none;
}

.contactformberichtfill {
  width: 80%;
  height: 250px;
  background-color: #a3d0eb;
  border-color: #a3d0eb;
  border-radius: 25px; /* Adjust the value to control the roundness of the corners */
}

.contactformbutton {
  background-color: #e9603a;
  font-weight: bold;
  width: 120px;
  height: 55px;
  border-radius: 25px;
  color: white;
}

.contactformbutten,
.contactformcenter {
  text-align: center;
}

.contactformspacing {
  margin-bottom: 35px;
}

.contactformtekst {
  border: 0px solid blue;
  width: 25%;
  margin-left: 10%;
}

.contactformnaam,
.contactformtelefoonnummer,
.contactformbericht {
  color: #03629d;
  font-weight: 600;
}

.contactformbox {
  margin-bottom: 25px;
}

.googlelocatie {
  border-radius: 25px; /* Adjust the value to control the roundness of the corners */
  margin-bottom: 45px;
}

.googlelocatielocatie {
  color: #03629d;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
  width: 75%;
}

.telcontact,
.emailcontact {
  width: 20%;
  margin-right: -50px;
  margin-left: -50px;
}

.contactgegevens {
  margin-top: 25px;
  text-align: right;
}

.telefoondiv {
  padding: 10px; /* Add padding for better appearance */
}

/* verhuur */

.verhuurh11 {
  color: #03629d;
  text-align: center;
  font-weight: bold;
}

.verhuurtekst1 {
  margin-top: -25px;
  color: #03629d;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

#prijslijstbutton {
  background-color: #e9603a;
  font-weight: bold;
  width: 220px;
  height: 55px;
  border-radius: 25px;
  color: white;
}

.prijslijstbuttondiv {
  margin-top: 35px;
  text-align: center;
  margin-bottom: 100px;
}

.verhuurh12 {
  color: #03629d;
  margin-left: 430px;
  font-weight: bold;
}

.verhuurtekst2 {
  color: #03629d;
  margin-left: 430px;
  font-weight: 600;
  font-size: 20px;
}

.verhuurh13 {
  color: #03629d;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.verhuurtekst3 {
  margin-top: -25px;
  color: #03629d;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 100px;
}

.verhuurh14 {
  color: #03629d;
  font-weight: bold;
  margin-top: -60px;
}

.verhuurtekst4 {
  margin-top: -25px;
  color: #03629d;
  font-weight: 600;
  font-size: 20px;
  width: 60%;
  padding-left: 20px;
}

.verhuurh15 {
  color: #03629d;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.bullet1,
.bullet2,
.bullet3 {
  color: #03629d;
  font-size: 1.1em; /* You can adjust the font size using em units */
  font-weight: 600;
}

.verhuurklaarh1 {
  text-align: center;
  color: #03629d;
  font-weight: bold;
  padding-top: 5%;
}

.verhuurh36 {
  margin-top: -25px;
  text-align: center;
  font-weight: 600;
  color: #03629d;
}

.verhuurh16 {
  padding-left: -150px;
  color: #03629d;
  font-weight: bold;
}

.verhuurtekst6 {
  color: #03629d;
  font-weight: 600;
  width: 65%;
}

.orange-dot {
  position: relative;
  margin-right: 10px;
  margin-left: 55px;
}

.orange-dot::before {
  content: "\2022"; /* Unicode character for bullet point */
  color: orange;
  font-size: 50px; /* Adjust the dot size */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px; /* Adjust the distance between dot and text */
}

.verhuurimg2 {
  width: 50%;
}

.verhuurimg3 {
  width: 50%;
}

.paddingbullet {
  padding-bottom: 0.5em; /* Adjust the padding as needed */
}

.img3right {
  text-align: right;
}

.verhuurimg4 {
  width: 75%;
  margin-top: -15%;
  margin-right: -150px;
}

.img4right {
  text-align: right;
}

/* Over ons */
.overonsh11 {
  color: #03629d;
  font-weight: bold;
}

.overonsp11 {
  color: #03629d;
  font-size: 20px;
  font-weight: 600;
  width: 75%;
}

.overonsfoto1 {
  border: 1px solid gold;
}

.overonsh12 {
  color: #03629d;
  font-weight: bold;
  margin-left: 275px;
}

.overonsp12 {
  color: #03629d;
  font-size: 20px;
  font-weight: 600;
  width: 75%;
  text-align: right;
  margin-left: 225px;
}

.overonsfoto2 {
  width: 100%;
  margin-left: -25%;
  margin-top: -19%;
}

.overonsh13 {
  color: #03629d;
  font-weight: bold;
}

#textContainer .visible-text {
  color: green !important;
}

#textContainer .hidden-text {
  /* Styles for hidden text */
  color: red !important;
}

.read-more-text {
  text-decoration: underline;
  cursor: pointer;
  color: #007bff !important; /* Use !important to override conflicting styles */
}

.overonsfoto3 {
  border: 0px solid gold;
  width: 65%;
}

.overonsfoto3right {
  text-align: right;
}

.overonsh14 {
  color: #03629d;
  font-weight: bold;
  margin-left: 275px;
}

.overonsp14 {
  color: #03629d;
  font-size: 20px;
  font-weight: 600;
  width: 75%;
  text-align: right;
  margin-left: 225px;
}

.overonsfoto4 {
  border: 0px solid gold;
  width: 65%;
}

.overonsfoto3left {
  text-align: left;
}

.pdffoto {
  background-color: white;
  width: 15%;
}

.pdf-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 30px;
  background-color: #e8613c; /* Orange background color */
  border: none;
  border-radius: 30px; /* Round border */
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.pdf-icon {
  width: 55px; /* Adjust the width of the PDF icon */
  height: 55px; /* Adjust the height of the PDF icon */
  padding: 5px;
}

.pdfbackground {
  margin-left: 25px;
  margin-right: -25px;
  background-color: white;
  border: 3px solid white;
  border-radius: 30px;
}

.row-centered .pdf-button {
  margin: 0 100px; /* Voeg hier de gewenste ruimte toe tussen de knoppen */
}

.verkort {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Toon maximaal 3 regels */
  -webkit-box-orient: vertical;
}

.toonVolledig {
  -webkit-line-clamp: initial; /* Toon alle regels */
}

.hidden {
  display: none;
}

#leesMeerBtn,
#verminderBtn {
  color: #e9603a;
  font-weight: bold;
}

#volledigeTekst {
  color: #03629d;
  font-weight: 600;
  font-size: 20px;
}

/* Media query for tablet and mobile devices */
@media (max-width: 768px) {
  .custom-header {
    padding: 12px 0;
  }

  .navbar-nav {
    display: none;
  }

  ul {
    margin-left: 0;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .sidebar-square {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #e9603a;
    margin-left: 8%;
    margin-right: 10px;
  }

  .sidebar-line {
    border-top: 2px solid #a2be70;
    margin-top: 12px;
    padding-bottom: 5%;
    width: 100%;
  }

  .content {
    transition: transform 0.3s ease;
  }

  .sidebar-open .content {
    transform: translateX(-70%);
  }

  .sidebar-open .custom-header {
    transform: translateX(-70%);
  }

  .sidebar-open .logo-container {
    transform: translateX(-70%);
  }

  .sidebar-open .sidebar {
    right: 0;
  }

  button {
    margin-right: 7%;
  }

  .sidebar ul li a {
    text-decoration: none;
  }

  .info {
    text-align: center;
  }

  .info p {
    margin-left: 0;
    font-size: 14px;
  }

  .navbar-footer {
    flex-direction: column;
    text-align: center;
  }

  .navbar-footer a {
    margin: 5px 6px;
  }

  .links {
    margin: 10px 0;
  }

  .social-icons {
    margin-left: 0;
  }

  .boekhouden-logo,
  .anbi-logo {
    width: 100%;
    max-width: 120px;
    margin: 10px 0;
  }

  .boekhouden-logo {
    width: 120px;
    margin-top: 16%;
    margin-right: 2%;
  }

  .anbi-logo {
    width: 100px;
  }

  .info {
    padding-top: 6%;
  }

  .info p {
    font-size: 14px;
    margin-left: 20%;
  }

  .homeh1-1 {
    font-size: 26px;
    padding: 0 2%;
  }

  .homeh1-2 {
    font-size: 26px;
  }

  .hometekst1 {
    max-width: 95%;
    font-size: 20px;
  }

  .breaks {
    display: none;
  }

  .buttons-homepage {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .overons-homepage {
    margin-top: -100px;
  }
}

/* Media query for mobile devices */
@media (max-width: 750px) {
  .logo-container {
    width: 220px;
    height: 220px;
    top: -120px;
    border-radius: 70%;
  }

  .logo-img {
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
  }

  .welkom {
    margin-top: 7%;
  }

  .container.references {
    padding-top: 5%;
  }

  .square {
    padding: 30px;
    margin-bottom: 35px;
  }

  .overons-homepage {
    margin-top: 30px;
    padding-bottom: 8%;
  }

  .hometekst2 {
    padding: 0 2px;
  }

  .overons-homepage-text {
    margin-top: 20px;
    padding: 30px;
  }

  .info {
    text-align: center;
  }

  .info p {
    margin-left: 0;
  }

  .jumbotron-img-home img {
    height: 250px;
  }

  .jumbotron-content h1 {
    font-size: 40px !important;
  }
}
