body {
  background-color: #fafaf5;
  font-family: "Futura", sans-serif;
}

.contacth3 {
  text-align: center;
  color: #03629d;
  border: 1px solid gray;
}

/* Phone icon */
.gg-phone {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  transform: scale(var(--ggs, 1));
}

.gg-phone::after,
.gg-phone::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-phone::after {
  width: 18px;
  height: 18px;
  border-top-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 12px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  left: 2px;
  bottom: 2px;
  background: linear-gradient(to left, currentColor 10px, transparent 0)
      no-repeat right 11px/6px 4px,
    linear-gradient(to left, currentColor 10px, transparent 0) no-repeat -1px 0/4px
      6px;
}

.gg-phone::before {
  width: 20px;
  height: 20px;
  border: 6px double;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
  bottom: 2px;
  left: 2px;
}

.telnummer {
  display: inline-block;
}

.custom-header {
  background-color: #c0db8f;
  padding: 32px 0;
  position: relative;
}

.logo-container {
  position: absolute;
  top: -197px;
  width: 370px;
  height: 370px;
  border-radius: 70% / 55%;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.logo-image {
  z-index: 1;
}

.logo-img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
  padding-bottom: 10%;
}

.navbar {
  justify-content: flex-end;
  position: relative;
}

.nav-item {
  margin: 0px;
}

.nav-link {
  color: #01619d;
  font-weight: 800;
}

ul {
  margin-left: 45%;
}

.search-icon {
  fill: #01619d;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  padding-top: 8%;
  background-color: #c0db8f;
  z-index: 1;
  transition: right 0.3s ease;
  color: #01619d;
}

.sidebar ul li a {
  color: #01619d;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 0;
}

.navbar-toggler {
  color: #01619d;
  border: none;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #a2be70;
  margin-top: 4%;
}

.info {
  background-color: #c0db8f;
  color: #606060;
  padding-top: 3%;
  padding-bottom: 0.8%;
}

.navbar-footer {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 15%;
}

.navbar-footer a {
  font-size: 14px;
  text-decoration: none;
  margin: 5px 10px;
  color: #606060;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-left: 8%;
}

.info p {
  margin-left: 30%;
}

.boekhouden-logo {
  margin-top: 11%;
  margin-right: 2%;
}

/* Media query for tablet and mobile devices */
@media (max-width: 768px) {
  .custom-header {
    padding: 12px 0;
  }

  .logo-container {
    width: 220px;
    height: 220px;
    top: -120px;
    border-radius: 70%;
  }

  .logo-img {
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
  }

  .navbar-nav {
    display: none;
  }

  ul {
    margin-left: 0;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .sidebar-square {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #e9603a;
    margin-left: 8%;
    margin-right: 10px;
  }

  .sidebar-line {
    border-top: 2px solid #a2be70;
    margin-top: 12px;
    padding-bottom: 5%;
    width: 100%;
  }

  .content {
    transition: transform 0.3s ease;
  }

  .sidebar-open .content {
    transform: translateX(-70%);
  }

  .sidebar-open .custom-header {
    transform: translateX(-70%);
  }

  .sidebar-open .logo-container {
    transform: translateX(-70%);
  }

  .sidebar-open .sidebar {
    right: 0;
  }

  button {
    margin-right: 7%;
  }

  .sidebar ul li a {
    text-decoration: none;
  }

  .info {
    text-align: center;
  }

  .info p {
    margin-left: 0;
    font-size: 14px;
  }

  .navbar-footer {
    flex-direction: column;
    text-align: center;
  }

  .navbar-footer a {
    margin: 5px 6px;
  }

  .links {
    margin: 10px 0;
  }

  .social-icons {
    margin-left: 0;
  }

  .boekhouden-logo,
  .anbi-logo {
    width: 100%;
    max-width: 120px;
    margin: 10px 0;
  }

  .boekhouden-logo {
    width: 120px;
    margin-top: 16%;
    margin-right: 2%;
  }

  .anbi-logo {
    width: 100px;
  }

  .info {
    padding-top: 6%;
  }
}
